.place {
  position: relative;
  background-color: white;
  color: black;
  width: 282px;
  min-height: 362px;
  border-radius: 10px;
  margin: auto;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} 