.page {
  font-family: 'Inter', Arial, sans-serif;
  background-color: #000000;
  color: white;
  min-width: 320px;
  text-rendering: optimizeLegibility;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 60px;
}

@media screen and (max-width: 740px) {
  .page {
    padding-top: 28px;
    padding-bottom: 36px;
  }
}