.popup__close {
  background-image: url(../../../images/button-close.svg);
  background-color: transparent;
  position: absolute;
  right: -40px;
  width: 32px;
  height: 32px;
  border: none;
  top: -40px;
  cursor: pointer;
  transition: 1s;
  opacity: 1;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 740px) {
  .popup__close {
    width: 20px;
    height: 20px;
    background-size: cover;
    right: 0;
    top: -40px;
  }
}