.place__delete {
  background-image: url(../../../images/delete.svg);
  width: 18px;
  height: 18px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  background-position: center;
  cursor: pointer;
}