.profile__edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 336px;
}

@media screen and (max-width: 740px) {
  .profile__edit {
    width: 70%;
    gap: 10px;
    margin-left: 20px;
    justify-content: center;
  }
}