.popup__body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 36px;
    position: relative;
    height: 260px;    
}

@media screen and (max-width: 740px) {
  .popup__body {
    margin-left: 19px;
    margin-right: 19px;
    padding: 0;
  }
}