.profile__photo {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background-size: cover;
  margin: 0 30px 0 0;
}


@media screen and (max-width: 740px) {
  .profile__photo {
    margin: 0 0 27px 0;
  }
}