.place__heart {
  width: 22px;
  height: 19px;
  transition: 1s;
  opacity: 1;
  background-color: transparent;
  background-position: center;
  border: none;
  cursor: pointer;
  background-image: url(../../../images/heart.svg);
}

.place__heart:hover {
  opacity: 0.5;
}
