.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin: 12px 0 0;
  max-width: 358px;
}

@media screen and (max-width: 740px) {
  .popup__input {
    margin: 5px 0 0;
  }
}