.places__box {
  padding: 0;
  margin: 50px auto 67px;
  display: grid;
  gap: 17px;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  max-width: 880px;
  min-height: 362px;
  min-width: 100%;
}


@media screen and (max-width: 940px) {
  .places__box {
    padding: 0 52px;
  }
}

@media screen and (max-width: 740px) {
  .places__box {
    padding: 0 38px;
  }
}

@media screen and (max-width: 540px) {
  .places__box {
    margin-top: 38px;
    margin-bottom: 45px;
    padding: 0 19px;
    gap: 20px;
  }
}